
/*BANNER*/
/*----------------------------------------------------------------------------*/
#olB li
{
    padding: 0px;
    border:0px;
    border-radius: 15px;
    width: 10px;
    height: 10px;
}

#slider a span
{
    width: 40px;
    height: 40px;
}
