
/*----------------------------------------------------------------------------*/
/*HEADER*/
/*----------------------------------------------------------------------------*/

.menutitulo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menutitulo > div
{
    width:100%;
}
#header
 {
    display: flex;
 }

#menu
 {
    display: flex;
 }

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botoncentrar
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo > h2
{
    margin:0px;
    padding: 0px;
}
#titulo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px)
{
    #logo > img
    {
        position: absolute;
        width: auto;
        height: 100%;
    }    
}

@media (min-width:768px)
{
    #logo 
    {
        width: 100px;
        height: 70px;
    }  
    #logo > img
    {
        position: absolute;
        width: auto;
        height: 100%;
    } 
}

@media (max-width:575px)
{
    #header
    {
        display:none;
    }
    .banner
    {
        width:100%;
        height:auto;
    }
}
