
/* LISTA DE RECOMENDADOS*/
/*----------------------------------------------------------------------------*/
/* Acomodo la viñeta dado que esta muy ancha por defecto */ 

.cmtRecm
{
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    vertical-align: center;
}

.lista
{
    padding-inline-start: 25px;
}

.inputs
{
    width: 100%;
    margin: 0px;
}

.inputs:not(checked) ~ div
{
    height:0px;
}

.inputs:checked ~ div
{
    height:133px;
}
/*----------------------------------------------------------------------------*/