@import url(/CSS/colores.css);
@import url(/CSS/ocultos.css);
/* Para poner border a todos los elementos */ 
.global
{
    border-style: dotted;
    border-width: 1px; 
    border-color: black;
}

/* responsibidad del header */ 

/* tamaño extra-small*/ 
@media (min-width:576px)
{
    #menu
    {
        display:none;
    }
}

/*tamaño small*/
.header
{
    padding: 0.5em 0 0.5em 7em; 
}

@media (max-width:768px)
{
    .header
    {
        padding: 0.5em 30% 0.5em 40% !important;
    }
}

@media (max-width:540px)
{
    .header
    {
        display:none !important;
    }
}

/* Resposibidad a tamaño mediano*/
@media (min-width:768px)
{
    .header:nth-child(1)
    {
        padding: 0.5em 10% 0.5em 10% !important;
    }
    .header:nth-child(2)
    {
        padding: 0.5em 10% 0.5em 7.5% !important;
    }
    .header:nth-child(3)
    {
        padding: 0.5em 0% 0.5em 4% !important;
    }
    .header:nth-child(4)
    {
        padding: 0.5em 10% 0.5em 9% !important;
    }
} 
/* tamaño grande*/
@media (min-width:992px)
{
    .header:nth-child(1)
    {
        padding: 0.5em 10% 0.5em 14% !important;
    }
    .header:nth-child(2)
    {
        padding: 0.5em 10% 0.5em 10.5% !important;
    }
    .header:nth-child(3)
    {
        padding: 0.5em 0% 0.5em 8% !important;
    }
    .header:nth-child(4)
    {
        padding: 0.5em 10% 0.5em 11% !important;
    }
} 

/*Responsibidad de los articulos*/
/* responsibidad de las imagenes*/
