@import url(/CSS/colores.css);
@import url(/CSS/ocultos.css);

/* Para poner border a todos los elementos : JAVASCRIPT */ 
/*----------------------------------------------------------------------------*/
.global 
{
    border-style: dotted;
    border-width: 1px; 
    border-color: rgb(161, 160, 160);
    /*margin:0 !important;*/
}
/*----------------------------------------------------------------------------*/

/*HEADER*/
/*----------------------------------------------------------------------------*/

 #header
 {
     display: flex;
 }
 #menu
 {
     display: flex;
 }
.header
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px)
{
    #logo > img
    {
        position: absolute;
        width: auto;
        height: 100%;
    }    
}
@media (min-width:768px)
{
    #logo 
    {
        width: 100px;
        height: 70px;
    }  
    #logo > img
    {
        position: absolute;
        width: auto;
        height: 100%;
    } 
}

@media (max-width:575px)
{
    #header
    {
        display:none;
    }
    .banner
    {
        width:100%;
        height:auto;
    }
}

/*menu desplegable*/
#menubarras:not(checked) ~ .menuDesplegable
{
    width: 0px;
}
#menubarras:checked ~ .menuDesplegable
{
    width:100vh;
}

#barras
{
    padding: 0px;
    /*margin: 0px;*/
    z-index: 100;
}
#menubarrasl > img
{
    width: 30px;
    height: 30px;
    z-index: 100;
}

.menuDesplegable
{
    overflow: hidden;
    transition: all 0.4s;
    position:absolute;
    font-size: 25px;
    top:45px;
   /* left:-20px;*/
    height:93vh;
    z-index: 100;

}

.menuDesplegable > div 
{
    padding: 5px 0px 5px 10px;
    overflow: hidden;
    width: 100vh;
}

/* tamaño extra-small*/ 
@media (min-width:576px)
{
    .menuDesplegable
    {
        display:none;
    }
    .hidden
    {
        display:none !important;
    }

}
/*----------------------------------------------------------------------------*/

/*BANNER*/
/*----------------------------------------------------------------------------*/
#olB li
{
    border:0px;
    border-radius: 15px;
    width: 10px;
    height: 10px;
}
#slider a span
{
    width: 40px;
    height: 40px;
}

/* LISTA DE RECOMENDADOS*/
/*----------------------------------------------------------------------------*/
/* Acomodo la viñeta dado que esta muy ancha por defecto */ 
.cmtRecm{
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    vertical-align: center;
}
.lista
{
    padding-inline-start: 25px;
}

.inputs
{
    width: 100%;
    margin: 0px;
}

.inputs:not(checked) ~ div{
    height:0px;
}
.inputs:checked ~ div{
    height:133px;
}
/*----------------------------------------------------------------------------*/

/*defino claso oculto para los juegos recomendados YA NO LA USO PORQUE SE USARAN SUBCLASES CSS PARA ESTO*/
/*.oculto
{
    display:none !important;
}*/